<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8' />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>

</head>
<body>
<div id='calendar'></div>
<script th:inline="javascript">

    // document.addEventListener('DOMContentLoaded', function() {
    //     var calendarEl = document.getElementById('calendar');
    //     var calendar = new FullCalendar.Calendar(calendarEl, {
    //         initialView: 'dayGridMonth'
    //     });
    //     calendar.render();
    // });
    //const calendar01 = document.getElementById('calendar');
    const calendar01 = document.querySelector('#calendar');
    const calendar02 = $("#calendar").get(0);
    console.log(calendar01);
    console.log(calendar02);
    document.addEventListener('DOMContentLoaded', function() {
        // const todoList = [
        //     {
        //         title:"오늘 할 일",
        //         start:"2024-07-01 10:00",
        //         //시간이 있으면 점으로 찍힌다.  시간이 없고 날짜만 있으면 줄로찍힌다.
        //         end:"2024-07-01 11:00",
        //         allDay:true
        //
        //     },
        //     {
        //         title:"오늘 할 일",
        //         start:"2024-07-01 12:00",
        //         //시간이 있으면 점으로 찍힌다.  시간이 없고 날짜만 있으면 줄로찍힌다.
        //         end:"2024-07-01 12:30",
        //
        //     },
        //     {
        //         title:"오늘 할 일",
        //         start:"2024-07-01 14:00",
        //         //시간이 있으면 점으로 찍힌다.  시간이 없고 날짜만 있으면 줄로찍힌다.
        //         end:"2024-07-01 15:00",
        //
        //     },
        //     {
        //         title:"오늘 할 일",
        //         start:"2024-07-01 16:00",
        //         //시간이 있으면 점으로 찍힌다.  시간이 없고 날짜만 있으면 줄로찍힌다.
        //         end:"2024-07-01 16:30",
        //
        //     },
        //     {
        //         title:"오늘 할 일",
        //         start:"2024-07-01 10:00",
        //         //시간이 있으면 점으로 찍힌다.  시간이 없고 날짜만 있으면 줄로찍힌다.
        //         end:"2024-07-01 11:00",
        //
        //     },
        //     {
        //         title:"오늘 할 일",
        //         start:"2024-07-01 10:00",
        //         //시간이 있으면 점으로 찍힌다.  시간이 없고 날짜만 있으면 줄로찍힌다.
        //         end:"2024-07-01 11:00",
        //
        //     },
        //     {
        //         title:"오늘 할 일",
        //         start:"2024-07-01 10:00",
        //         //시간이 있으면 점으로 찍힌다.  시간이 없고 날짜만 있으면 줄로찍힌다.
        //         end:"2024-07-01 11:00",
        //
        //     },
        //
        //     {
        //         title:"내일 할 일",
        //         start:"2024-07-13",
        //         end:"2024-07-13",
        //         backgroundColor:"#ff0000",
        //         textColor:"#ffffff",
        //         borderColor:"#ff0000"
        //     },
        //     {
        //         title:"내일 할 일",
        //         start:"2024-07-23 13:00",
        //         end:"2024-07-23 14:00",
        //         backgroundColor:"#ff0000",
        //         textColor:"#ffffff",
        //         borderColor:"#ff0000",
        //         allDay:true
        //     }
        // ];
        const todoList = [[${calendarDtoList}]];
        console.log(todoList);
        const calendarEl = calendar02;
        const calendar = new FullCalendar.Calendar(calendarEl, {
            height:600,
            initialView: 'dayGridMonth',
            locale: 'ko',
            events: todoList
        });
        calendar.render();
    });

</script>
</body>
</html>