<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/calendar/insert" method="post" th:object="${calendarDto}">
        <div><input type="text" name="title"></div>
        <div><input type="date" name="start"></div>
        <div><input type="time" name="startTime"></div>
        <div><input type="date" name="end"></div>
        <div><input type="time" name="endTime"></div>
        <div><label>all day</label><input type="checkbox" th:field="*{allDay}"></div>
        <button>일정추가</button>
    </form>
</body>
</html>